<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body, form {
        background-color: aquamarine;
        display: flex;
        font-family: fantasy;
        flex-direction: column;
        text-align: center;

      }
    </style>
  </head>
  <body>
    <body>
      <h1>Hello INDEX</h1>
        <ul>
          <% for(let i = 0; i < runs.length; i++) { %>
          <li>
            On run: <%=i; %>  You ran <%=runs[i].distance; %> miles!
             <% } %>
           </li>
        </ul>
        <nav>
          <a href="/runs/new"> Log a new run! </a>
      <h3>test man test</h3>
    </body>
  </body>
</html>
