<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body, form {
        /* background-color: aquamarine; */
        display: flex;
        font-family: fantasy;
        flex-direction: column;
        text-align: center;

      }
      li {

      }
      body, form {
        /* background-color: aquamarine; */
        display: flex;
        font-family: fantasy;
        flex-direction: column;
        text-align: center;

      }
      body {
          background-image: url(https://i.imgur.com/PGJaBCr.jpg) ;
          background-position: center center;
          background-repeat:  no-repeat;
          background-attachment: fixed;
          background-size:  cover;
          background-color: #999;

      }

      div, body, a{
      margin: 0;
      padding: 0;
      font-family: exo, sans-serif;
      color: white

      }
      .wrapper {
      height: 100%;
      width: 100%;
      }



      ul, li, h1 {
        text-align: center;
        list-style-type: none;
        font-family: fantasy;

      }
      /* .opaque {//IMAGE NOT OPAQUe :( */

             /*setting alpha = 0.6*/
              /* background: rgba(0, 151, 19, 0.6); */

      }
    </style>
  </head>
  <body>
    <body>
      <h1>Hello NEW BROTHER</h1>
      <h1>Hello INDEX</h1>
      <form action="/runs"  method="post">


        <!-- Distance Ran: <input type="text" name="distance" value=""></br> -->
        Title your Run: <input type="text" name="name" value=""></br>
        Hours ran: <input type="text" name="time" value=""></br>
        Distance ran: <input type="number" name="distance" value=""
        <!-- Minutes Ran: <input type="text" name="Name" value=""></br> -->
        Description: <input type="text" name="runDescription" value=""></br>
        <!-- NEed a way to populate a pace after user inputs the distance adn time
        var totalMinutes = hours * 60 + minutes + seconds / 60,
            pace = totalMinutes / miles,
            paceMinutes = Math.floor(pace),
            paceSeconds = Math.round((pace - paceMinutes) * 60);
      -->
        <button type="submit" name="button">Submit here</button>
      </form>
      <!-- <form class="" action="/runs" method="POST">
        Run #:<input type="text" name="number" value="Run Number here"/></br>
        How Long?
        Hours: <input type="text" name="hours" value="hours here"/></br>
        Run Description
        <!-- Minutes:<input type="text" name="minutes" value="minutes here"/></br> -->
        <!-- Seconds:<input type="text" name="seconds" value="seconds here"/></br> -->
        <!-- <input type="text" name="seconds" value="seconds here"></br> -->

        <!-- NEed a way to populate a pace after user inputs the distance adn time
        var totalMinutes = hours * 60 + minutes + seconds / 60,
        		pace = totalMinutes / miles,
        		paceMinutes = Math.floor(pace),
        		paceSeconds = Math.round((pace - paceMinutes) * 60);
      -->

      </form>
      <h3>test man test</h3>
    </body>
  </body>
</html>
