<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
          body {
            background-color: yellow;
          }
          body, form {
            /* background-color: aquamarine; */
            display: flex;
            font-family: fantasy;
            flex-direction: column;
            text-align: center;

          }
          body {
              background-image: url(https://i.imgur.com/e5q7T7z.jpg) ;
              background-position: center center;
              background-repeat:  no-repeat;
              background-attachment: fixed;
              background-size:  cover;
              background-color: #999;

          }

          div, body, a{
          margin: 0;
          padding: 0;
          font-family: exo, sans-serif;
          color: white

          }
          .wrapper {
          height: 100%;
          width: 100%;
          }



          ul, li, h1 {
            text-align: center;
            list-style-type: none;
            font-family: fantasy;

          }
          /* .opaque {//IMAGE NOT OPAQUe :( */

                 /*setting alpha = 0.6*/
                  /* background: rgba(0, 151, 19, 0.6); */

          }
        </style>
    </head>
    <body>
      <h1> This is the show.ejs file</h1>
      Your Run <%=run.name%> was <%=run.distance%> miles long! Great Job!!
    </body>
</html>
