<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
          body {
            background-color: yellow;
          }
        </style>
    </head>
    <body>
      <h1> THis is the show.ejs file</h1>
    </body>
</html>
