<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body, form {
        /* background-color: aquamarine; */
        display: flex;
        font-family: fantasy;
        flex-direction: column;
        text-align: center;

      }
      body {
          background-image: url(https://i.imgur.com/e5q7T7z.jpg) ;
          background-position: center center;
          background-repeat:  no-repeat;
          background-attachment: fixed;
          background-size:  cover;
          background-color: #999;

      }

      div, body, a{
      margin: 0;
      padding: 0;
      font-family: exo, sans-serif;
      color: white

      }
      .wrapper {
      height: 100%;
      width: 100%;
      }



      ul, li, h1 {
        text-align: center;
        list-style-type: none;
        font-family: fantasy;

      }
      /* .opaque {//IMAGE NOT OPAQUe :( */

             /*setting alpha = 0.6*/
              /* background: rgba(0, 151, 19, 0.6); */

      }
    </style>
  </head>
  <body>
    <body>
      


      <h2>Train Endure Pain and don't conplain :)</h2>

</div>
      <h1>Update your run!</h1>
      <form action="/runs/<%=run.id%>?_method=PUT"  method="POST">
        Name: <input type="text" name="name" value="<%=run.name%>"/><br/>
          Minutes: <input type="text" name="time" value="<%=run.minutes%>"/><br/>
          Distance: <input type="text" name="distance" value="<%=run.distance%>"/><br/>

          <input type="submit" value="Submit Changes"/>
        <!-- NEed a way to populate a pace after user inputs the distance adn time
        var totalMinutes = hours * 60 + minutes + seconds / 60,
        		pace = totalMinutes / miles,
        		paceMinutes = Math.floor(pace),
        		paceSeconds = Math.round((pace - paceMinutes) * 60);
      -->
        <input type="submit" value ="Create Another Run?"/>
        <!-- <button type="submit" name="button">Submit here</button> -->
      </form>
      <h3>test man test</h3>
    </body>
  </body>
</html>
